<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Navigation List-->
        <nav class="cs-nav" aria-label="main navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" id="cs-toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-label="mobile menu toggle" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </span>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == "/" %} cs-active {% endif %}" {% if page.url == "/" %} aria-current="page" {% endif %}>
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == "/bio/" %} cs-active {% endif %}" {% if page.url == "/bio/" %} aria-current="page" {% endif %}>
                            Bio
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/projects/" class="cs-li-link {% if page.url == "/Discography/" %} cs-active {% endif %}" {% if page.url == "/Discography/" %} aria-current="page" {% endif %}>
                            Discography
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/blancablog/" class="cs-li-link {% if page.url == "/blancablog/" %} cs-active {% endif %}" {% if page.url == "/blancablog/" %} aria-current="page" {% endif %}>
                            Blancah Blog
                        </a>
                    </li>
                    <!-- in case you want to hide contact link and show button add: use { cs-hide-on-desktop } -->
                    <li class="cs-li">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact/" %} cs-active {% endif %}" {% if page.url == "/contact/" %} aria-current="page" {% endif %}>
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--<a href="/contact/" class="cs-button-solid cs-nav-button">Contact Us</a>-->
    </div>
</header>

