---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-2195">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Contact</h2>
                <p class="cs-text">Small description about the contact section.</p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-2195" name="Contact Form" method="post">
                <label class="cs-label" aria-label="name">
                    <input class="cs-input" required type="text" id="name-2195" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email" aria-label="email">
                    <input class="cs-input" required type="email" id="email-2195" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone" aria-label="phone">
                    <input class="cs-input" required type="phone" id="phone-2195" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label" aria-label="services">
                    <select class="cs-input cs-select" required id="service-2195" name="Services">
                        <option value="" disabled selected>Services</option>
                        <option value="Service1">Service1</option>
                        <option value="Service2">Service2</option>
                        <option value="Service3">Service3</option>
                    </select>
                </label>
                <label class="cs-label" aria-label="message">
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-2195" placeholder="Message"></textarea>
                </label>
                <button class="cs-button-2 cs-submit" type="submit">Schedule Consultation</button>
            </form>
        </div>
    </section>

{% endblock %}