---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@videojs/html/cdn/background.js"></script>

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                     Hero                     -->
    <!-- ============================================ -->

    <section id="hero-2153">
            <div class="cs-container">
                <div class="cs-content">
                    <div class="cs-flex">
                        <h2 class="cs-title">Blancah Black</h2>
                    </div>
                    <p class="cs-text">An avant-garde groundbreaking artist whose vision preceded today's immense interest in electronic music & noise.</p>
                </div>
                <div class="cs-video-group">
                    <div class="cs-video-wrapper">
                        <background-video-player>
                        <media-container class="media-minimal-skin media-minimal-skin--video">
                            <background-video src="https://stream.mux.com/oyHDfstPsN0202jKhIcjJxqM1xdKH01PTrj324QHbB7VTA.m3u8" playsinline></background-video>

                            <media-poster>
                            <img src="assets/images/original/hero_image.png" />
                            </media-poster>

                            <media-buffering-indicator class="media-buffering-indicator">
                            <media-icon name="spinner" family="minimal" class="media-icon"></media-icon>
                            </media-buffering-indicator>

                            <media-error-dialog class="media-error">
                            <div class="media-error__dialog">
                                <div class="media-error__content">
                                <media-alert-dialog-title class="media-error__title">Something went wrong.</media-alert-dialog-title>
                                <media-alert-dialog-description class="media-error__description"></media-alert-dialog-description>
                                </div>
                                <div class="media-error__actions">
                                <media-alert-dialog-close class="media-button media-button--primary">OK</media-alert-dialog-close>
                                </div>
                            </div>
                            </media-error-dialog>
                        </media-container>
                        </background-video-player>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-2426">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Musical Projects</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="/bio/#bleeding_fields" class="cs-link">
                        <h3 class="cs-h3">Bleeding Fields</h3>
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/bleeding_fields.webp" />
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/bleeding_fields.webp" />
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/bleeding_fields.webp" alt="bleeding fields" width="373" height="420" />
                        </picture>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/bio/#early_holy_sisters" class="cs-link">
                        <h3 class="cs-h3">Early Holy Sisters of the GAGA DADA</h3>
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/holy_sisters.webp" />
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/holy_sisters.webp" />
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/holy_sisters.webp" alt="holy sisters" width="373" height="420" />
                        </picture>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/bio/#rivas_black" class="cs-link">
                        <h3 class="cs-h3">Rivas and Black</h3>
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/rivas_and_black_small.webp" />
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/rivas_and_black.webp" />
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/rivas_and_black.webp" alt="rivas and black" width="373" height="420" />
                        </picture>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
            
    <!-- Elfsight Audio Player | Untitled Audio Player -->
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-5d2eb983-dfb7-454a-9787-42ef73d894f9" data-elfsight-app-lazy></div>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-2131">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Discography</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="/loveHeatLove/" class="cs-link">
                        <h3 class="cs-h3">Love Heat Love</h3>
                        <!--Background Image-->
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/love_heat_love_small.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/love_heat_love.webp">
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/love_heat_love.webp" alt="love heat love" width="352" height="440">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/eracism/" class="cs-link">
                        <h3 class="cs-h3">Eracism</h3>
                        <!--Background Image-->
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/eracism.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/eracism.webp">
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/eracism.webp" alt="eracism" width="352" height="440">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/trouve/" class="cs-link">
                        <h3 class="cs-h3">Trouve&#769</h3>
                        <!--Background Image-->
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/bleeding_fields.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/bleeding_fields.webp">
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/bleeding_fields.webp" alt="trouve" width="352" height="440">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/100guitarProject/" class="cs-link">
                        <h3 class="cs-h3">The $100 Guitar Project</h3>
                        <!--Background Image-->
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/guitar_project.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/guitar_project.webp">
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/guitar_project.webp" alt="$100 guitar project" width="352" height="440">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/experimentalMusic/" class="cs-link">
                        <h3 class="cs-h3">Documentary of Women in Experimental Music</h3>
                        <!--Background Image-->
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="assets/images/phone_tablet/webp/women_in_music_small.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="assets/images/desktop/webp/women_in_music.webp">
                            <img loading="lazy" decoding="async" src="assets/images/desktop/webp/women_in_music.webp" alt="Documentary of Women in Experimental Music" width="352" height="440">
                        </picture>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-2195">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Want to Collaborate</h2>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-2195" name="Contact Form" method="post">
                <label class="cs-label" aria-label="name">
                    <input class="cs-input" required type="text" id="name-2195" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email" aria-label="email">
                    <input class="cs-input" required type="email" id="email-2195" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone" aria-label="phone">
                    <input class="cs-input" required type="phone" id="phone-2195" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label" aria-label="message">
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-2195" placeholder="Message"></textarea>
                </label>
                <button class="cs-button-2 cs-submit" type="submit">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}